.join-list,
.footer-conteiner,
.address-conteiner,
.address {
  display: flex;
}
.footer-conteiner {
  align-items: baseline;
}
.foot {  
  font-style: normal;
  background: #2f303a;
}
.foot-position{
  padding: 60px 0;
}
.foot-address {
  margin-top: 20px;
}
.adress-list__link,
.adress-list__link--white {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list__item:not(:first-child) {
  margin-top: 9px;
}
.adress-list__link,
.adress-list__link--white
 {&:hover, &focus{
  color: var(--blue-color);
}}
.adress-list__link--white {
  color: var(--white-color);
}
.foot-color {
  font-style: normal;
  font-family: roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.join-list__icon {
  fill: var(--white-color);
}
.join {
  margin-left: 70px;
}
.join-list__link {
  background: rgba(255, 255, 255, 0.1);
}
.join-list__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email {
  margin-left: 93px;
}

.footer-email__input {
  margin-right: 12px;
  margin-top: 20px;
  background-color: inherit;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--grey-color);
}
.footer-email__text {
  display: block; 
  font-style: normal; 
  font-size: 14px; 
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-email__input::placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.email-btn__icon {
  fill: var(--white-color);
}
.email-btn__text {
  margin-right: 10px;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}


