.main-section {  
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bacground.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;    
  }
  
