.main-section__title {
  @include common(26px, 900, 42px, 0.06em);  
  width: 360px; 
  text-align: center;  
  text-transform: uppercase;
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
   @media screen and (min-width: 768px) {
    @include common(26px, 900, 42px, 0.06em);
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    @include common(44px, 900, 60px, 0.06em);    
    width: 700px;
  }}

.section__title /*H-2_______________________________H-2___________________________________H-2*/
 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  @media screen and (min-width: 480px) {
    @include common(28px, 900, 33px, 0.03em);
    margin-bottom: 30px;
  }
}
.features__title,   /*H-3_________________________H-3__________________________________H-3*/
.team__title {
  margin-bottom: 10px;
  @include common(14px, 700, 16px, 0.03em);
}
.features__title{
  text-transform: uppercase;
}
.team__title{
  @media screen and (min-width: 480px) {
    @include common(16px, 500, 19px, 0.03em);
  }
}
.features__title{
   text-align: center;
   text-transform: uppercase;
   @media screen and (min-width: 768px) {
    text-align: left;
  }
   @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
  /*_________________________________________end____________________________________*/
//.features__title {
 // text-transform: uppercase;

.join__title {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.card-box__title /* portfolio h2*/ {
  color: var(--black-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}


