.main-section__title {
  @include common(26px, 900, 42px, 0.06em);
  padding: 0 25px;
  width: 100%; 
  text-align: center;  
  text-transform: uppercase;
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    @include common(44px, 900, 60px, 0.06em);
    padding: 0 350px;
  }}

.section__title /*H-2_______________________________H-2___________________________________H-2*/
 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.features__title,   /*H-3_________________________H-3__________________________________H-3*/
.team__title {
  margin-bottom: 10px;
  @include common(14px, 700, 16px, 0.03em);
  //font-weight: 700;
 // font-size: 16px;
 //font-size: 14px;
  //line-height: calc(16 / 14);
 // letter-spacing: 0.03em;}
}
  /*_________________________________________end____________________________________*/
//.features__title {
 // text-transform: uppercase;

.join__title {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.card-box__title /* portfolio h2*/ {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}


