
/*container__________________________________COMMON-ELEMENTS__________________________________________container*/

body {
  font-family: roboto, sans-serif;
  color: var(--black-color);
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  font-style: normal;
  text-decoration: none;
}
.container {      
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  height: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  }


.section {
  @media screen and (min-width: 1200px) {
    //width: 100%;
    padding: 94px 0;}
 
 padding-top: 60px;
 padding-bottom: 60px;
}
.work
 {
  display: flex;
}

